<section class="hero-section">
  <div class="container">
    <div class="test">
      <div class="hero-tags-container">
        <p class="hero-text-tag">investments</p>
        <span class="hero-tag-span">|</span>
        <p class="hero-text-tag">business relocation</p>
        <span class="hero-tag-span">|</span>
        <p class="hero-text-tag">family relocation</p>
      </div>
      <div class="hero-heading-container">
        <h1 class="hero-heading">
          Relocating to Cyprus
          <span class="hero-heading-span"
            >Seamless – Exceptional – Experience.</span
          >
        </h1>
        <p class="hero-text">
          The captivating Mediterranean island of Cyprus has become a business
          haven with a flourishing expat community. The strategic location that
          grants networking opportunities and the stability of being in the EU
          offers entrepreneurs the abilities they need to thrive.
        </p>
      </div>
      <div class="hero-button-container">
        <button type="button" class="hero-button">Find Out More</button>
      </div>
    </div>
    <div class="test2">
      <p class="hero-text-img">Most popular cities</p>
      <div class="hero-img-container">
        <div class="hero-img-box">
          <img
            srcset="
              ../img-hero/nicosia-city.jpg    1x,
              ../img-hero/nicosia-city@2x.jpg 2x
            "
            src="./img-hero/nicosia-city.jpg"
            alt="photo of Nicosia"
            class="hero-img"
            width="129"
            height="123"
          />
          <p class="hero-img-city-name">Nicosia</p>
        </div>
        <div class="hero-img-box">
          <img
            srcset="
              ../img-hero/limassol-city.jpg    1x,
              ../img-hero/limassol-city@2x.jpg 2x
            "
            src="./img-hero/limassol-city.jpg"
            alt=" photo of Limassol"
            class="hero-img"
            width="129"
            height="123"
          />
          <p class="hero-img-city-name">Limassol</p>
        </div>
        <div class="hero-img-box">
          <img
            srcset="
              ../img-hero/paphos-city.jpg    1x,
              ../img-hero/paphos-city@2x.jpg 2x
            "
            src="./img-hero/paphos-city.jpg"
            alt="photo of Paphos"
            class="hero-img"
            width="129"
            height="123"
          />
          <p class="hero-img-city-name">Paphos</p>
        </div>
        <div class="hero-img-box">
          <img
            srcset="
              ../img-hero/larnaka-city.jpg    1x,
              ../img-hero/larnaka-city@2x.jpg 2x
            "
            src="./img-hero/larnaka-city.jpg"
            alt="photo of Larnaka"
            class="hero-img"
            width="129"
            height="123"
          />
          <p class="hero-img-city-name">Larnaka</p>
        </div>
      </div>
    </div>
  </div>
</section>
