<section class="location">
  <div class="container location-container">
    <div class="location-left-side">
      <h2 class="location-title">FIND THE IDEAL LOCATION TO CALL HOME</h2>
      <p class="location-text">Tap on any city to learn more about it</p>
      <div class="map">
        <img
          src="/pictures/map_image.png"
          alt="Ciprus map"
          class="location-map"
        />
        <img
          src="/pictures/larnaka_map.png"
          alt="Larnaka map"
          class="larnaka-map"
        />

        <img
          src="/pictures/limassol_map.png"
          alt="Limassol map"
          class="limassol-map"
        />
        <img
          src="/pictures/nicosia_map.png"
          alt="Nicosia map"
          class="nicosia-map"
        />
        <img
          src="/pictures/paphos_map.png"
          alt="Paphos map"
          class="paphos-map"
        />
      </div>
    </div>

    <div class="location-card location-card-larnaka">
      <div class="location-images-larnaka">
        <img
          src="/pictures/map_card_larnaka_images_1.jpg"
          alt=""
          class="location-img"
        />
        <img
          src="/pictures/map_card_larnaka_images_2.jpg"
          alt=""
          class="location-img"
        />
        <img
          src="/pictures/map_card_larnaka_images_3.jpg"
          alt=""
          class="location-img"
        />
      </div>
      <div class="location-card-content">
        <h3 class="location-card-title">Larnaka</h3>
        <p class="location-card-text">
          Being the third largest city in Cyprus and home to the island’s most
          busy airport, it offers visitors a variety of activities and
          experiences that will remain unforgettable to any individual.
        </p>
        <p class="location-card-text">
          It is known for its Salt Lake that hosts thousands of Flamingos each
          year as well as for its sandy beaches and historical sites.
        </p>
        <p class="location-card-text last">
          The rapidly increasing corporate ecosystem and comfortable lifestyle
          create an exceptional living environment for anyone who is looking to
          enjoy a relaxed life by the sea.
        </p>
      </div>
    </div>
    <div class="location-card">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <h3></h3>
      <p></p>
    </div>
    <div class="location-card">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <h3></h3>
      <p></p>
    </div>
    <div class="location-card">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <h3></h3>
      <p></p>
    </div>
  </div>
</section>
