<section class="location">
  <div class="container location-container">
    <div class="location-left-side">
      <h2 class="location-title">FIND THE IDEAL LOCATION TO CALL HOME</h2>
      <p class="location-text">Tap on any city to learn more about it</p>
      <div class="map">
        <img
          src="/pictures/map_image.png"
          alt="Ciprus map"
          class="location-map"
        />
        <img
          src="/pictures/larnaka_map.png"
          alt="Larnaka map"
          class="larnaka-map"
        />

        <img
          src="/pictures/limassol_map.png"
          alt="Limassol map"
          class="limassol-map"
        />
        <img
          src="/pictures/nicosia_map.png"
          alt="Nicosia map"
          class="nicosia-map"
        />
        <img
          src="/pictures/paphos_map.png"
          alt="Paphos map"
          class="paphos-map"
        />
      </div>
    </div>

    <div class="location-card location-card-larnaka">
      <div class="location-images-larnaka">
        <img
          src="/pictures/map_card_larnaka_images_1.jpg"
          alt=""
          class="location-img"
        />
        <img
          src="/pictures/map_card_larnaka_images_2.jpg"
          alt=""
          class="location-img"
        />
        <img
          src="/pictures/map_card_larnaka_images_3.jpg"
          alt=""
          class="location-img"
        />
      </div>
      <div class="location-card-content">
        <h3 class="location-card-title">Larnaka</h3>
        <p class="location-card-text">
          Being the third largest city in Cyprus and home to the island’s most
          busy airport, it offers visitors a variety of activities and
          experiences that will remain unforgettable to any individual.
        </p>
        <p class="location-card-text">
          It is known for its Salt Lake that hosts thousands of Flamingos each
          year as well as for its sandy beaches and historical sites.
        </p>
        <p class="location-card-text last">
          The rapidly increasing corporate ecosystem and comfortable lifestyle
          create an exceptional living environment for anyone who is looking to
          enjoy a relaxed life by the sea.
        </p>
      </div>
    </div>
    <div class="location-card location-card-limassol">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <h3 class="location-card-title">Limassol</h3>
      <p class="location-card-text">
        The sunny city of Limassol is the second largest city of the island, and
        it is among the most desirable travel and business destinations both for
        families and for entrepreneurs looking to expand their business
        horizons. The combination of elegant accommodation and ancient
        architectural views is bound to capture the interest of people of any
        age.
      </p>
      <p class="location-card-text last">
        The Limassol Marina is the first marina to harbor yachts in Cyprus and
        it is surrounded by renowned bars and restaurants. The residents of
        Limassol pride themselves on their cultural values and festivities as
        hundreds of theatrical performances take place each year at the Rialto
        theater, and the city holds an annual Wine Festival and Carnival Parade.
      </p>
    </div>
    <div class="location-card location-card-nicosia">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <h3 class="location-card-title">Nicosia</h3>
      <p class="location-card-text">
        Also known as Lefkosia, Nicosia is the capital city of Cyprus and the
        only divided capital city in the world. The unique urban scenery is
        built upon a rich historical past and its mixture with modern lifestyle.
      </p>
      <p class="location-card-text">
        It is in close proximity to every other city in Cyprus, giving residents
        the flexibility of choosing to enjoy the breathtaking views from the
        mountain tops and soothing beaches of the coastal cities within minutes.
      </p>
      <p class="location-card-text last">
        Nicosia has become an attractive cosmopolitan city made of diverse
        cultural communities, excellent healthcare facilities and every aspect
        one requires to build the lifestyle of your dreams.
      </p>
    </div>
    <div class="location-card location-card-paphos">
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <h3 class="location-card-title">Paphos</h3>
      <p class="location-card-text">
        Paphos is located on the southwest coast of Cyprus, and it is one of the
        most popular cities for expat communities. The crystal-clear,
        family-friendly beaches are a frequent holiday retreat for millions of
        tourists all year round. Its exceptional infrastructure includes a huge
        shopping mall, hospitals, the second largest airport of the island, and
        many schools.
      </p>
      <p class="location-card-text last">
        These are only a few reasons why people choose to move to Paphos, as
        there are many more reasons it is considered one of the most excellent
        places to live in Europe.
      </p>
    </div>
  </div>
</section>
