<section class="services">
  <div class="container services-container">
    <h2 class="services-header">Our Services</h2>
    <ul class="services-list">
      <li class="services-list-item">
        <picture class="services-list-item-img">
          <source
            srcset="
              img/services/family_relocation-hd.webp,
              img/services/family_relocation-hd@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/services/family_relocation-t.webp,
              img/services/family_relocation-t@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/services/family_relocation-m.webp,
              img/services/family_relocation-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="img/services/family_relocation-m.webp"
            alt="Family relocation"
          />
        </picture>
        <div class="services-cart-texts">
          <h3 class="services-cart-header">Family Relocation</h3>
          <p class="services-text">
            With strategic planning, we simplify the moving process so you and
            your family can feel safe and confident.
          </p>
          <button class="moving-button">Find Out More</button>
        </div>
      </li>
      <li class="services-list-item">
        <picture class="services-list-item-img">
          <source
            srcset="
              img/services/business_relocation-hd.webp,
              img/services/business_relocation-hd@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/services/business_relocation-t.webp,
              img/services/business_relocation-t@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/services/business_relocation-m.webp,
              img/services/business_relocation-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="img/services/business_relocation-m.webp"
            alt="Business relocation"
          />
        </picture>
        <div class="services-cart-texts">
          <h3 class="services-cart-header">Business Relocation</h3>
          <p class="services-text">
            We handle the responsibility of moving your business to Cyprus, so
            you can focus on your business goals.
          </p>
          <button class="moving-button">Find Out More</button>
        </div>
      </li>
      <li class="services-list-item">
        <picture class="services-list-item-img">
          <source
            srcset="
              img/services/investment-hd.webp,
              img/services/investment-hd@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              img/services/investment-t.webp,
              img/services/investment-t@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/services/investment-m.webp,
              img/services/investment-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="img/services/investment-m.webp" alt="Investment schemes" />
        </picture>
        <div class="services-cart-texts">
          <h3 class="services-cart-header">Investments schemes</h3>
          <p class="services-text">
            Discover the opportunity to further enhance your business ambitions,
            by choosing the optimal investment plan.
          </p>
          <button class="moving-button">Find Out More</button>
        </div>
      </li>
    </ul>
  </div>
</section>
