<section class="choose">
  <h2 class="choose-title">Why Choose Cyprus?</h2>
  <p class="choose-text">
    When you’re searching for the ideal home you want everything to be perfect.
    This is why over the years more and more people from all around the world
    are choosing Cyprus as their ultimate destination. This smal Mediterranean
    mesmerizes millions of visitors every year.
  </p>
  <ul class="choose-list">
    <li class="choose-item">
      <div class="choose-item-icon">
        <svg class="choose-icon">
          <use href="#" class="icon-item"></use>
        </svg>
      </div>
      <div class="choose-item-content">
        <h3 class="choose-subtitle">Progressive tax system</h3>
        <p class="choose-subtext">
          Offering one of the most attractive tax regimes in Europe
        </p>
      </div>
    </li>
    <li class="choose-item">
      <div class="choose-item-icon">
        <svg class="choose-icon">
          <use href="#" class="icon-item"></use>
        </svg>
      </div>
      <div class="choose-item-content">
        <h3 class="choose-subtitle">Stunning weather and climate</h3>
        <p class="choose-subtext">
          Enjoy a high quality of life with over 324 days of sun annually
        </p>
      </div>
    </li>
    <li class="choose-item">
      <div class="choose-item-icon">
        <svg class="choose-icon">
          <use href="#" class="icon-item"></use>
        </svg>
      </div>
      <div class="choose-item-content">
        <h3 class="choose-subtitle">Blooming expat community</h3>
        <p class="choose-subtext">
          Become part of an increasingly diverse community
        </p>
      </div>
    </li>
    <li class="choose-item">
      <div class="choose-item-icon">
        <svg class="choose-icon">
          <use href="#" class="icon-item"></use>
        </svg>
      </div>
      <div class="choose-item-content">
        <h3 class="choose-subtitle">Family-oriented values</h3>
        <p class="choose-subtext">
          Excellent education standards and extremely low crime rates
        </p>
      </div>
    </li>
  </ul>
</section>
