<section class="choose">
  <div class="container choose-container">
    <div class="choose-main-content">
      <h2 class="choose-title">Why Choose Cyprus?</h2>
      <p class="choose-text">
        When you’re searching for the ideal home you want everything to be
        perfect. This is why over the years more and more people from all around
        the world are choosing Cyprus as their ultimate destination. This smal
        Mediterranean mesmerizes millions of visitors every year.
      </p>
    </div>
    <ul class="choose-list">
      <li class="choose-item">
        <img
          class="choose-foto"
          src="/img/whochoose/tax.png"
          srcset="/img/whochoose/tax.png 1x, /img/whochoose/tax@2x.png 2x"
          alt="Progressive tax system"
        />
        <div class="choose-item-content">
          <h3 class="choose-subtitle">Progressive tax system</h3>
          <p class="choose-subtext">
            Offering one of the most attractive tax regimes in Europe
          </p>
        </div>
      </li>
      <li class="choose-item">
        <img
          class="choose-foto"
          src="/img/whochoose/weather.png"
          srcset="
            /img/whochoose/weather.png    1x,
            /img/whochoose/weather@2x.png 2x
          "
          alt="Stunning weather and climate"
        />
        <div class="choose-item-content">
          <h3 class="choose-subtitle">Stunning weather and climate</h3>
          <p class="choose-subtext">
            Enjoy a high quality of life with over 324 days of sun annually
          </p>
        </div>
      </li>
      <li class="choose-item">
        <img
          class="choose-foto"
          src="/img/whochoose/expat.png"
          srcset="/img/whochoose/expat.png 1x, /img/whochoose/expat@2x.png 2x"
          alt="Blooming expat community"
        />
        <div class="choose-item-content">
          <h3 class="choose-subtitle">Blooming expat community</h3>
          <p class="choose-subtext">
            Become part of an increasingly diverse community
          </p>
        </div>
      </li>
      <li class="choose-item">
        <img
          class="choose-foto"
          src="/img/whochoose/family.png
        "
          srcset="/img/whochoose/family.png 1x, /img/whochoose/family@2x.png 2x"
          alt="Family-oriented values"
        />
        <div class="choose-item-content">
          <h3 class="choose-subtitle">Family-oriented values</h3>
          <p class="choose-subtext">
            Excellent education standards and extremely low crime rates
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
