.hero-section {
  background-image: url('../img-hero/picture-home-mb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0 40px 0;
}
@media screen and (min-resolution: 2x) {
  .hero-section {
    background-image: url(/img-hero/picture-home-mb@2x.jpg);
  }
}
.hero-tags-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}
.hero-text-tag {
  border-radius: 10px;
  padding: 0 4px;
  max-width: 206px;
  height: 20px;
  background: rgba(109, 49, 208, 0.5);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffdb80;
}
.hero-tag-span {
  color: #fff;
}
.hero-heading {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.hero-heading-span {
  font-size: 20px;
  line-height: 160%;
}
.hero-text {
  margin-left: auto;
  margin-right: auto;
  width: 365px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}
.hero-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 102px;
}
.hero-button {
  outline: none;
  border: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #6d31d0;
  width: 200px;
  height: 48px;
  border-radius: 88px;
  padding: 16px 22px;
  width: 200px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 35px 0 rgba(255, 185, 175, 0.3);
  background: linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%);
}
.hero-img-box {
  border: 2px solid #fff;
  border-radius: 12px;
  padding: 10px 10px 0px 10px;
  width: 144px;
  height: 180px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.02),
    5px 6px 7px 0 rgba(0, 0, 0, 0.03), 13px 15px 13px 0 rgba(0, 0, 0, 0.04),
    25px 30px 25px 0 rgba(0, 0, 0, 0.04), 41px 50px 47px 0 rgba(0, 0, 0, 0.05),
    64px 77px 80px 0 rgba(0, 0, 0, 0.07);
  background: rgba(255, 255, 255, 0.8);
}
.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.hero-text-img {
  padding-left: 66px;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 16px;
}
.hero-img {
  border-radius: 10px 10px 4px 4px;
  margin-bottom: 10px;
  width: 100%;
}
.hero-img-city-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #828cde;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: url(/img-hero/picture-home-tablet.jpg);
    padding-top: 140px;
  }
  .hero-tags-container {
    margin-bottom: 20px;
  }
  .test {
    width: 564px;
    padding: 0 94px 0 94px;
  }
  .hero-heading {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hero-text {
    text-align: start;
    min-width: 450px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .hero-button-container {
    justify-content: flex-start;
    margin-bottom: 107px;
  }
  .hero-text-img {
    padding-left: 0;
  }
  .test2 {
    padding-left: 66px;
    padding-right: 66px;
  }
  .hero-img-container {
    flex-wrap: nowrap;
  }
  .hero-img-box {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.02),
      5px 6px 7px 0 rgba(0, 0, 0, 0.03), 13px 15px 13px 0 rgba(0, 0, 0, 0.04),
      25px 30px 25px 0 rgba(0, 0, 0, 0.04), 41px 50px 47px 0 rgba(0, 0, 0, 0.05),
      64px 77px 80px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero-section {
    background-image: url(/img-hero/picture-home-tablet@2x.jpg);
  }
}
@media only screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(/img-hero/picture-home-desk1440.jpg);
    padding: 130px 158px 63px 158px;
  }
  .hero-img-container {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 2x) {
  .hero-section {
    background-image: url(/img-hero/img-hero/picture-home-desk1440@2x.jpg);
  }
}
