.location-card {
    display: none;
}
/*
.location-card.active {
    display: block;
}*/

.location {
    padding-top: 80px;
    padding-bottom: 80px;
}

.location-left-side {
    max-width: 480px;
    margin: 0 auto;
}

.location-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    max-width: 400px;
    color: #6d31d0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.location-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
}

.map {
    position: relative;
    margin-bottom: 30px;
    
}

.location-map {
    margin: 0 auto;
}

.paphos-map {
    position: absolute;
    top: 135px;
    left: 0;
    cursor: pointer;
}

.larnaka-map {
    position: absolute;
    top: 150px;
    left: 180px;
    cursor: pointer;
}

.limassol-map {
    position: absolute;
    top: 188px;
    left: 79px;
    cursor: pointer;
}

.nicosia-map {
    position: absolute;
    top: 107px;
    left: 65px;
    cursor: pointer;
}

.location-images-larnaka {
    display: flex;
    gap: 10px;
    padding: 13px 11px;
}

.location-img {
    border-radius: 10px 10px 4px 4px;
    overflow: hidden;
}

.location-card {
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 13px 15px 13px 0 rgba(0, 0, 0, 0.04);
    max-width: 480px;
    margin: 0 auto;
}

.location-card-content {
    padding: 4px 30px 26px 30px;
}

.location-card-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #434364;
}

.location-card-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #434364; 
    margin-bottom: 20px;
}

.last {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .location-container {
        padding-left: 64px;
        padding-right: 64px;
    }

    .location-title {
        max-width: 620px;
    }
}

@media only screen and (min-width: 1440px) {
    .location-container {
        display: flex;
    }
}
