.choose {
  padding: 60px 15px;
  width: 100%;
  max-height: 945px;
  background: linear-gradient(180deg, #fefc9e 0%, #fdbfa3 78.65%);
}
.choose-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 0.725;
  color: #434364;

  margin-bottom: 20px;
}
.choose-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #434364;
  max-width: 369px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.choose-list {
  display: flex;
  flex-direction: row;

  justify-content: center;
  row-gap: 40px;
  column-gap: 20px;
  flex-wrap: wrap;
}
.choose-item {
  max-width: 190px;
  flex-basis: calc((100% - 20px) / 2);
}
.choose-foto {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.choose-item-content {
}
.choose-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #6d31d0;
  margin-bottom: 4px;
}
.choose-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #434364;
}
